{% extends '/layout.html.twig' %}
{% block content %}
{# Gestion des textes, affichage des vidéos sans les commentaires #}

{# Si l'utilisateur n'est pas banni, affichage des vidéos avec option supprimer ou modifier et voir les commentaires #}
{% if app.user and app.user.roles != ["ROLE_BANNI"] %}

<div class="row" id="thumbnails_container">

				<div class="header">

					<a class="white" href="{{ path('compteaccueil') }}">Retour en arrière</a>

				</div>
				<div class="cleaner"></div>

                {% for video in videos %}
				{% if video.del == 0 %}

				<div class="col-md-12 col-black">
					<div class="col-md-12 col-red">
						<p><a class="auteur" href="{{ path('contenu', {'username': video.username.username}) }}">{{ video.username.username }}</a></p>
						<h2 class="title">{{ video.titre }}</h2>
					</div>

					<div class="cleaner"></div>
					<p class="date">Ajouté le {{ video.date | date('d/m/Y') }}</p>
					<div class="cleaner"></div>
					<p class="article">{{ video.description }}</p>
					<iframe width="560" height="315" src="{{ video.url }}" frameborder="0"  allowfullscreen></iframe>
					<div class="cleaner"></div>
					<button type="update" class="btn btn-primary btn-right"><a href="{{ path('videoedit', {'id': video.id}) }}">Modifier</a></button>
					<button type="delete" class="btn btn-primary btn-right"><a href="{{ path('videodeladmin', {'id': video.id }) }}">Supprimer</a></button>
					<button type="delete" class="btn btn-primary btn-right"><a href="{{ path('videotarget', {'id': video.id}) }}">Accéder aux commentaires</a></button>
				</div>

				{% endif %}
				{% endfor %}
				
				<div class="cleaner"></div>


			</div> <!-- thumbnail area -->  
		</div>

{# Si l'utilisateur est banni, pas droit d'accès #}
{% elseif app.user and app.user.roles == ['ROLE_BANNI'] %}
<div class="row" id="thumbnails_container">            
				<div class="col-md-12 col-black">
					<h2>{{title}}</h2>
					<p class="article">Suite à un problème avec vos publications, vous ne pourrez plus poster que ce soit des commentaires ou des creepypastas. Néanmoins, vous pouvez toujours accéder au contenu des autres et lire les commentaires.</p>
					<a class="white" href="{{ path('deconnexion') }}">Se déconnecter</a>
				</div>
</div>
		      

 {# Non connecté, erreur #}      
{% else %}
<div class="row" id="thumbnails_container">            
    <div class="col-md-12 col-black">
        <h2>Hey, il y a un problème</h2> 
        <p class="article">Il semble que vous n'avez pas accès à cette page</p>
        <a class="white" href="{{ path('connexion') }}">Se connecter</a>
    </div> <!-- thumbnail area -->  
</div>
{% endif %}


{% endblock %}